<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CCAggregate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CCKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>424FEE702277F85800D9828A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>426B65DD1EA994BF006706A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42954A0B1E7124E200F4CC4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42E3B3FC22977FCA009FA4A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42FC70461E6FB2B700FBBE42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42FC70501E6FB2B700FBBE42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
